/* _dark.scss */

@media (prefers-color-scheme: dark) {
    :root {
        --clr-min: ; // 최소 대비 (컬러 스키마에 대해)
        --clr-max: ; // 최대 대비 (컬러 스키마에 대해)

        --clr-theme: ; // 메인 컬러
        --clr-background: ; // 배경

        --clr-surface-100: ; // 표면 100%
        --clr-surface-75: ; // 표면 75%
        --clr-surface-50: ; // 표면 50%
        --clr-surface-25: ; // 표면 25%
        --clr-surface-10: ; // 표면 10%
        --clr-surface-5: ; // 표면 5%

        --clr-tint-100: ; // 하이라이트 100%
        --clr-tint-75: ; // 하이라이트 75%
        --clr-tint-50: ; // 하이라이트 50%
        --clr-tint-25: ; // 하이라이트 25%
        --clr-tint-10: ; // 하이라이트 10%
        --clr-tint-5: ; // 하이라이트 5%

        --clr-text: ; // 문자
        --clr-text-on-tint: ; // 하이라이트 배경 문자
        --clr-text-on-surface: ; // 표면 배경 문자
        --clr-text-on-invert: ; // 반전 배경 문자
        --clr-text-disabled: ; // 비활성 문자

        --clr-alert: ; // 에러
        --clr-warn: ; // 경고
        --clr-info: ; // 정보
        --clr-clear: ; // 안전
        --clr-unable: ; // 불가능

        --clr-if-100: ; // 인터페이스 표면 100%
        --clr-if-75: ; // 인터페이스 표면 75%
        --clr-if-50: ; // 인터페이스 표면 50%
        --clr-if-25: ; // 인터페이스 표면 25%
        --clr-if-10: ; // 인터페이스 표면 10%
        --clr-if-5: ; // 인터페이스 표면 5%
        --clr-if-disabled: ; // 비활성 인터페이스
    }
}

/* _dark.scss */