/* _headers.scss */

#headPrimary { // 메인 헤더
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    inset: 0;
    margin-inline-end: auto;
    width: fit-content;
    height: 100%;
    // background-color: rgb(0 0 0 / .2);
    // backdrop-filter: blur(.4rem);
    z-index: 50000;
}

#logoPrimary { // 메인 로고

}

#navPrimary { // 메인 네비게이션
    font-family: var(--ff-gothic-en);
}

.nav-list-main { // 메인 네비게이션 리스트
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

.nav-item-depth-0 { // 메인 네비게이션 아이템
    position: relative;

    > a {
        display: block;
        padding: 1.2rem;
        width: 12rem;
        font-size: var(--fnt-xl);
        text-align: end;
    }

    &:hover {
        background-color: rgb(var(--clr-theme));

        > .nav-list-sub { // 메인 네비게이션 호버시 서브 네비게이션 리스트 표시
            opacity: 1;
            transition: opacity .5s;
            pointer-events: all;

            > .nav-item-depth-1 { // 서브 네비게이션 아이템 애니메이션 표시
                translate: 0;
                opacity: 1;
                transition-duration: .3s;
                transition-property: translate, opacity;
            }
        }
    }
}

.nav-list-sub { // 서브 네비게이션 리스트
    position: absolute;
    inset-inline-start: 100%;
    inset-block-start: 0;
    border-inline-start: .1rem solid rgb(var(--clr-tint-100));
    background-color: rgb(var(--clr-max));
    color: rgb(var(--clr-tint-100));
    opacity: 0;
    pointer-events: none;
}

/* 서브 네비게이션 아이템 각각에 transition-delay 적용 */

$indexes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $index in $indexes {
    .nav-item-depth-1:nth-child(#{$index}) {
        transition-delay: #{0.1 * $index}s;
    }
}

.nav-item-depth-1 { // 서브 네비게이션 아이템
    translate: -.5rem 0;
    opacity: .75;

    > a {
        display: block;
        padding: .8rem;
        width: 8rem;
        font-size: var(--fnt-md);
    }

    &:hover {
        background-color: rgb(var(--clr-tint-100));
    }
}

/* _headers.scss */